.engineSelect {
  position: relative;
  width: 100%;
}

.alert {
  position: relative;
  margin-top: 20px;
}

.engineTagLink {
  display: flex;
  grid-gap: 1rem;
  color: inherit;
  text-decoration: none;
  &:hover {
    color: darkgray;
  }
}

.engineTagIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  min-width: 4rem;
  height: 4rem;
  border-radius: 4px;

  svg {
    // should extend div
    width: 2.6rem;
    height: 2.6rem;
  }
}

.engineTagContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  p {
    margin: 0;
    line-height: 1.5;
  }
}

.chainName {
  display: inline-grid;
  grid-template-columns: 1fr 8fr 8fr; /* 创建三个列，两边的列会自动扩展以将内容推到两端 */

  span {
    text-align: left;
  }
}

.modalChainContainer {
  display: flex;
  padding-top: 12px;
  padding-right: 32px;
  padding-bottom: 12px;
  padding-left: 32px;
  border: 1px solid;
  cursor: pointer;
}

.selectChainButton {
  float: right;
  margin-left: auto;
}

.rawChainContainer {
  background-color: inherit;
  cursor: pointer;
}

.rawChainContainer:hover {
  background-color: #f0f0f0;
}

.tableDetailColumns {
  margin-left: 0.8rem;
  padding-left: 0.5rem;
  list-style-type: none;
  border-left: 1px solid #bfbfbf;

  li {
    margin-top: 8px;
  }
}

.backChainContainer {
  display: grid;
  grid-template-columns: 20px 20rem;
  cursor: pointer;
}

.backChainContainer:hover {
  background-color: #f0f0f0;
}
